.projects{
    display: flex;
    margin: 0px 0px 16px ;
    cursor: pointer;
    padding-top: 8px;
}

.project_title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin:2px 14px ;
}

.projects_icon {
    margin-left: 24px;
    height: 20px;
    width: 20px;
}